<!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md navbar-dark " id="nav1">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="my-ul navbar-nav ml-auto">
      <li class="nav-item" [ngClass]="getUrl()==='/projets/liste-projets'?'active':''" >
        <a class="nav-link" routerLink="liste-projets"  data-toggle="tooltip" title="Liste de projets"
        >Liste de projets<i class="fa-solid icon-top fa-table-list"></i></a>
      </li>
      <li class="nav-item" [ngClass]="getUrl()==='/projets/liste-portefeuilles'?'active':'' ">
        <a class="nav-link " routerLink="liste-portefeuilles"  data-toggle="tooltip" title="Liste de portefeuilles"
        >Liste de portefeuilles<i class="fa-solid icon-top fa-table-list"></i></a>
      </li>
      <li class="nav-item" [ngClass]="getUrl()==='/projets/gantt'?'active':''">
        <a class="nav-link " routerLink="gantt"  data-toggle="tooltip" title="Diagramme de Gantt"
        >Diagramme de Gantt<i class="fa-solid icon-top fa-diagram-successor"></i></a>
      </li>
      <li class="nav-item" [ngClass]="getUrl()==='/projets/statistiques'?'active':''">
        <a class="nav-link " routerLink="statistiques" data-toggle="tooltip" title="Statistiques"
        >Statistiques<i class="fa-solid icon-top fa-chart-pie"></i></a>
      </li>
      <li class="nav-item li-last" data-toggle="tooltip" title="Nouveau">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle " role="button" id="dropdownMenuLink" data-toggle="dropdown"
          ><i class="fa-solid icon-top fa-square-plus"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="nouveau-projet"><i style="margin-right: 10px!important;" class="fa-solid icon-dropdown fa-file-circle-plus"></i> Nouveau projet</a>
            <a class="dropdown-item" routerLink="nouveau-portefeuille"><i style="margin-right: 10px!important;" class="fa-solid icon-dropdown fa-folder-plus"></i>Nouveau portefeuille</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav><!-- NavBar END -->
