<p-toast position="bottom-right"></p-toast>
<div id="table-portefeuilles-container" >
<p-table #dt1 [value]="portefeuilles$" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
         [globalFilterFields]="['codeFamille','titreFamille','description']" [resizableColumns]="true" columnResizeMode="expand"
         currentPageReportTemplate=" {first} sur {last} de {totalRecords} portefeuilles" [rowsPerPageOptions]="[5,10,15,20]"
         [exportHeader]="'customExportHeader'"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
  <ng-template pTemplate="caption" style="display:flex;justify-content:space-between">
    <div class="flex" style="width: fit-content">
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
    </div>
    <div class="flex" style="width: fit-content">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event).target.value, 'contains')" placeholder="Rechercher" />
                </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pResizableColumn pSortableColumn="codeFamille">Code <p-sortIcon field="codeFamille"></p-sortIcon>
        <p-columnFilter type="text" field="codeFamille" display="menu"></p-columnFilter></th>
      <th pResizableColumn pSortableColumn="titreFamille">Titre <p-sortIcon field="titreFamille"></p-sortIcon>
        <p-columnFilter type="text" field="titreFamille" display="menu"></p-columnFilter></th>
      <th pResizableColumn pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon>
        <p-columnFilter type="text" field="description" display="menu"></p-columnFilter></th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-portfeuille>
    <tr>
      <td>{{portfeuille.codeFamille}}</td>
      <td>{{portfeuille.titreFamille}}</td>
      <td>{{portfeuille.description}}</td>
      <td>
        <span *ngIf="authService.estAdmin()" data-toggle="modal" data-target="#modalEdit1"  >
          <span  (click)="editPortefeuille(portfeuille)" mat-raised-button
                 matTooltip="Modifier" ><i class="fa-solid fa-pen-to-square"></i></span>
        </span>
        <span  routerLink="/ressources/details-ressource" mat-raised-button
               matTooltip="Détails" ><i class="fa-solid fa-circle-info"></i></span>
        <span data-toggle="modal" data-target="#modalDelete"  >
          <span (click)="confirmDeletePortefeuille(portfeuille)" mat-raised-button
                matTooltip="Supprimer" ><i class="fa-solid fa-circle-xmark"></i></span>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>

<!--Modal Edit RessourceModel -->
<div data-backdrop="false" class="modal" id="modalEdit1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier le portefeuille </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="form-portefeuille"  [formGroup]="portefeuilleFormGroup" *ngIf="portefeuilleFormGroup">
          <div hidden class="form-group">
            <input   type="text" placeholder="Code du portefeuille" class="form-control" id="code"
                   formControlName="codeFamille">
          </div>
          <div class="form-group">
            <label for="titre">Titre du portefeuille</label>
            <input type="text" placeholder="Titre du portefeuille" class="form-control" id="titre"
                   formControlName="titreFamille" [ngClass]="{'is-invalid': submitted && portefeuilleFormGroup.controls.titreFamille.errors}">
            <div *ngIf="submitted && portefeuilleFormGroup.controls.titreFamille.errors" class=
              "invalid-feedback">
              <div *ngIf="portefeuilleFormGroup.controls.titreFamille.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-la" for="description">Description du portefeuille</label>
    <textarea rows="5" placeholder="Description du portefeuille" class="form-control" id="description"
              formControlName="description" [ngClass]="{'is-invalid': submitted && portefeuilleFormGroup.controls.description.errors}">
      </textarea>
            <div *ngIf="submitted && portefeuilleFormGroup.controls.description.errors" class=
              "invalid-feedback">
              <div *ngIf="portefeuilleFormGroup.controls.description.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>

        </form>
      </div>


        <!-- Modal footer -->
        <div class="modal-footer form-group">
          <button (click)="onSavePortefeuille()"[disabled]="portefeuilleFormGroup?.invalid" type="button" class="btn btn-dark form-control" data-dismiss="modal">Enregistrer</button>
        </div>

    </div>
  </div>
</div>



<!--Modal Delete RessourceModel -->
<div data-backdrop="false" class="modal" id="modalDelete">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Etes-vous sûr de vouloir supprimer le portefeuille ?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p><span class="delete-label">Code</span> : {{codePortefeuille}}</p>
        <p><span class="delete-label">Titre : </span>{{titrePortefeuille}}</p>
        <p><span class="delete-label">Description : </span>{{descPortefeuille}}</p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer form-group">
        <button type="button" class="btn btn-dark " data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-dark " (click)="onDeletePortefeuille()" data-dismiss="modal">Oui</button>
      </div>

    </div>
  </div>
</div>



