#table-portefeuilles-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#table-portefeuilles-container
.fa-solid, .fas {
  font-weight: 900;
  font-size: large;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  color: #343a40;
}
#table-portefeuilles-container
.fa-solid:hover, .fas :hover{
  opacity: 0.75;
}


.modal-title{
  text-align: center;
  width: 100%;
}
.modal-content .form-group{
  margin-top: 5px;
}
.modal-body{
  background: #f6f6f6;
}
#table-portefeuilles{
  width: 100%!important;
}
.modal-body label {
  display: inline-block;
  margin-bottom: .5rem;
  width: 100%;
  border-bottom: 1px #ced4da solid;
  color: #676a6c;
}
.delete-label{
  font-weight: bold;
}
:host ::ng-deep .p-datatable{
  width: 75vw;
}
:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-header {
  display:flex;
  justify-content: space-between;
}
