<app-nav-bar-top></app-nav-bar-top>
<h2 class="bienvenu">Bienvenu {{user.prenom}}</h2>
<div id="table-projets-container" >
<!--  <table *ngIf="projetsGeres" id="table-projets"  datatable [dtOptions]="dtOptions" class="row-border table-bordered hover">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Logo</th>-->
<!--      <th>Code</th>-->
<!--      <th>Titre</th>-->
<!--      <th>Description</th>-->
<!--      <th>Date début planifiées</th>-->
<!--      <th>Date fin planifiées</th>-->
<!--      <th>Date début prévue</th>-->
<!--      <th>Date fin prévue</th>-->
<!--      <th>Date début Réelle</th>-->
<!--      <th>Date fin Réelle</th>-->
<!--      <th>Priorité</th>-->
<!--      <th>% Avancement</th>-->
<!--      <th>Statut</th>-->
<!--      <th>Coût Initial</th>-->
<!--      <th>Coût Réel</th>-->
<!--      <th>Chef de projet</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->

<!--    <tr *ngFor="let p of projetsGeres;let i=index; ">-->
<!--      <td style="text-align: center">-->
<!--        <img [src]="host+'/logoProjet/'+p.codeProjet | authImage | async" class="picture-src" id="wizardPicturePreview" title="">-->
<!--      </td>-->
<!--      <td style="padding-left: 10px!important;">-->
<!--        <span >{{p.codeProjet}}</span>-->
<!--      </td>-->
<!--      <td>-->
<!--        {{p.titreProjet}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{p.description}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{datepipe.transform(p.dateDebutPlanifiee, 'yyyy-MM-dd')}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{datepipe.transform(p.dateFinPlanifiee, 'yyyy-MM-dd')}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{datepipe.transform(p.dateDebutPrevue, 'yyyy-MM-dd')}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{datepipe.transform(p.dateDebutPrevue, 'yyyy-MM-dd')}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{datepipe.transform(p.dateDebutReelle, 'yyyy-MM-dd')}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{datepipe.transform(p.dateFinReelle, 'yyyy-MM-dd')}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{p.priorite}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{p.avancement}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{p.statut}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{p.coutInitial}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{p.coutReel}}-->
<!--      </td>-->
<!--            <td>-->
<!--              <span *ngIf="p.chefProjet">{{p.chefProjet.nom+' '+p.chefProjet.prenom}}</span>-->
<!--            </td>-->
<!--      <td>-->
<!--        <span mat-raised-button matTooltip="Détails"  [routerLink]="'/projets/details-projet/'+p.codeProjet" ><i class="fa-solid fa-circle-info"></i>-->
<!--        </span>-->
<!--        <span mat-raised-button data-tooltip="Message d'invalidation"  ><i class="fa-solid fa-list-check"></i>-->
<!--        </span>-->
<!--      </td>-->
<!--    </tr>-->


<!--    </tbody>-->
<!--  </table>-->



  <p-table #dt1 [value]="projetsGeres" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" style="width: 100%"
           [globalFilterFields]="['codeFamille','titreFamille','description']" [resizableColumns]="true" columnResizeMode="expand"
           currentPageReportTemplate=" {first} sur {last} de {totalRecords} projets" [rowsPerPageOptions]="[5,10,15,20]"
           [exportHeader]="'customExportHeader'"
           styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="caption" style="display:flex;justify-content:space-between">
      <div class="flex" style="width: fit-content">
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
<!--                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>-->
      </div>
      <div class="flex" style="width: fit-content">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Logo</th>
        <th pResizableColumn pSortableColumn="codeProjet">Code <p-sortIcon field="codeProjet"></p-sortIcon>
          <p-columnFilter type="text" field="codeProjet" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="titreProjet">Titre <p-sortIcon field="titreProjet"></p-sortIcon>
          <p-columnFilter type="text" field="titreProjet" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon>
          <p-columnFilter type="text" field="description" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="dateDebutPlanifiee">Date de début Planifiée<p-sortIcon field="dateDebutPlanifiee"></p-sortIcon>
          <p-columnFilter type="text" field="dateDebutPlanifiee" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="dateFinPlanifiee">Date de fin Planifiée<p-sortIcon field="dateFinPlanifiee"></p-sortIcon>
          <p-columnFilter type="text" field="dateFinPlanifiee" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="dateDebutPrevue">Date de début Prévue<p-sortIcon field="dateDebutPrevue"></p-sortIcon>
          <p-columnFilter type="text" field="dateDebutPrevue" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="dateFinPrevue">Date de fin Prévue<p-sortIcon field="dateFinPrevue"></p-sortIcon>
          <p-columnFilter type="text" field="dateFinPrevue" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="dateDebutReelle">Date de début Réelle<p-sortIcon field="dateDebutReelle"></p-sortIcon>
          <p-columnFilter type="text" field="dateDebutReelle" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="dateFinReelle">Date de fin Réelle<p-sortIcon field="dateFinReelle"></p-sortIcon>
          <p-columnFilter type="text" field="dateFinReelle" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="priorite">Priorité<p-sortIcon field="priorite"></p-sortIcon>
          <p-columnFilter type="text" field="priorite" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="avancement">Avancement<p-sortIcon field="avancement"></p-sortIcon>
          <p-columnFilter type="text" field="avancement" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="statut">Statut<p-sortIcon field="statut"></p-sortIcon>
          <p-columnFilter type="text" field="statut" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="coutInitial">Coût Initial<p-sortIcon field="coutInitial"></p-sortIcon>
          <p-columnFilter type="text" field="coutInitial" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="coutReel">Coût Réel<p-sortIcon field="coutReel"></p-sortIcon>
          <p-columnFilter type="text" field="coutReel" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="chefProjet">Chef de projet<p-sortIcon field="chefProjet"></p-sortIcon>
          <p-columnFilter type="text" field="chefProjet" display="menu"></p-columnFilter></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-p>
      <tr>
        <td style="text-align: center">
          <img [src]="host+'/logoProjet/'+p.codeProjet | authImage | async" class="picture-src" id="wizardPicturePreview" title="">
        </td>
        <td style="padding-left: 10px!important;">
          <span >{{p.codeProjet}}</span>
        </td>
        <td>
          {{p.titreProjet}}
        </td>
        <td>
          {{p.description}}
        </td>
        <td>
          {{datepipe.transform(p.dateDebutPlanifiee, 'yyyy-MM-dd')}}
        </td>
        <td>
          {{datepipe.transform(p.dateFinPlanifiee, 'yyyy-MM-dd')}}
        </td>
        <td>
          {{datepipe.transform(p.dateDebutPrevue, 'yyyy-MM-dd')}}
        </td>
        <td>
          {{datepipe.transform(p.dateDebutPrevue, 'yyyy-MM-dd')}}
        </td>
        <td>
          {{datepipe.transform(p.dateDebutReelle, 'yyyy-MM-dd')}}
        </td>
        <td>
          {{datepipe.transform(p.dateFinReelle, 'yyyy-MM-dd')}}
        </td>
        <td>
          {{p.priorite}}
        </td>
        <td>
          {{p.avancement}}
        </td>
        <td>
          {{p.statut}}
        </td>
        <td>
          {{p.coutInitial}}
        </td>
        <td>
          {{p.coutReel}}
        </td>
        <td>
          <span *ngIf="p.chefProjet">{{p.chefProjet.nom+' '+p.chefProjet.prenom}}</span>
        </td>
        <td>
        <span mat-raised-button matTooltip="Détails"  [routerLink]="'/projets/details-projet/'+p.codeProjet" ><i class="fa-solid fa-circle-info"></i>
        </span>
          <span mat-raised-button data-tooltip="Message d'invalidation"  ><i class="fa-solid fa-list-check"></i>
        </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>


