<div id="form-employe-container">
  <form id="form-employe" action="#">

    <h4>Ajouter une nouvelle ressource</h4>
    <br>
    <div class="form-group input-first-line">
      <input type="text" placeholder="Nom" class="form-control" id="nom"
             name="nom">
    </div>
    <div class="form-group input-first-line">
      <input type="text" placeholder="Prénom" class="form-control" id="prenom"
             name="prenom">
    </div>
    <div class="form-group input-first-line">
      <input type="text" placeholder="Email" class="form-control" id="email"
             name="email">
    </div>
    <div class="form-group input-first-line">
      <input type="password" placeholder="Mot de passe initial" class="form-control" id="motDePasse"
             name="email">
    </div>
    <div class="form-group input-first-line">
      <input type="text" placeholder="Numéro de téléphone" class="form-control" id="tel"
             name="tel">
    </div>
    <div class="form-group input-first-line">
      <input type="text" placeholder="Emploi" class="form-control" id="emploi"
             name="emploi">
    </div>
    <div class="form-group input-first-line">
      <ngx-select-dropdown [instanceId]="'instance1'" (change)="selectionChangedRoles($event)" [config]="configDropdownRoles" [options]="dropdownOptionsRoles"></ngx-select-dropdown>

    </div>
    <div class="form-group">
      <button style="color:white; margin-top:5px" type="submit" class="btn bg-dark form-control">
        Submit
      </button>
    </div>
  </form>
</div>
