<!--<app-nav-bar-top ></app-nav-bar-top>-->

<!--<h2 class="bienvenu">Bienvenu {{user.prenom}}</h2>-->
<!--<div class="taches-container">-->
<!--  <mat-accordion *ngFor="let tache of taches| paginate: { itemsPerPage: 6, currentPage: p };let i=index">-->
<!--    <mat-expansion-panel>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title> {{tache.titre}} </mat-panel-title>-->
<!--        <mat-panel-description>-->
<!--          {{tache.description}}-->

<!--        </mat-panel-description>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p class="titre-group-inputs"><i class="fa-solid fa-angles-right"></i> Dates de la tâches</p>-->
<!--      <div class="dates">-->
<!--        <span class="date-container">-->
<!--          <span class="date-titre">Date de début planifiée :</span>-->
<!--          <span class="date">{{datepipe.transform(tache.dateDebutPlanifiee, 'dd-MM-yyyy')}}</span>-->
<!--        </span>-->
<!--        <span class="date-container">-->
<!--          <span class="date-titre">Date de fin planifiée :</span>-->
<!--          <span class="date" >{{datepipe.transform(tache.dateFinPlanifiee, 'dd-MM-yyyy')}}</span>-->
<!--        </span>-->
<!--        <span class="date-container">-->
<!--          <span class="date-titre">Date de début prevue :</span>-->
<!--          <span class="date" >{{datepipe.transform(tache.dateDebutPrevue, 'dd-MM-yyyy')}}</span>-->
<!--        </span>-->
<!--        <span class="date-container">-->
<!--          <span class="date-titre">Date de fin prevue :</span>-->
<!--          <span class="date" >{{datepipe.transform(tache.dateDebutPrevue, 'dd-MM-yyyy')}}</span>-->
<!--&lt;!&ndash;          <span class="date-container pas-encore-valide">&ndash;&gt;-->
<!--&lt;!&ndash;          <span>*Changement pas encore validé:</span>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>{{datepipe.transform(tache.dateDebutPrevue, 'dd-MM-yyyy')}}</span>&ndash;&gt;-->

<!--          <span class="date-container invalide tooltip-right"  data-tooltip="Message d'invalidation" >-->
<!--          <span>*Changement invalide:</span>-->
<!--          <span>{{datepipe.transform(tache.dateDebutPrevue, 'dd-MM-yyyy')}}</span>-->
<!--          </span>-->


<!--        </span>-->
<!--        <span class="date-container" *ngIf="tache.dateDebutRelle">-->
<!--&lt;!&ndash;        <span class="date-container">&ndash;&gt;-->
<!--          <span class="date-titre">Date de début réelle :</span>-->
<!--          <span class="date" >{{datepipe.transform(tache.dateDebutRelle, 'dd-MM-yyyy')}}</span>-->
<!--        </span>-->
<!--        <span class="date-container" *ngIf="tache.dateFinRelle">-->
<!--&lt;!&ndash;        <span class="date-container">&ndash;&gt;-->
<!--          <span class="date-titre">Date de fin Réelle :</span>-->
<!--          <span class="date" >{{datepipe.transform(tache.dateFinRelle, 'dd-MM-yyyy')}}</span>-->
<!--        </span>-->
<!--        <span><span class="changer-button"><i class="fa-solid fa-calendar-plus"></i> Changer les dates prevues</span></span>-->
<!--      </div>-->
<!--    </mat-expansion-panel>-->

<!--  </mat-accordion>-->
<!--  </div>-->

<!--<pagination-controls previousLabel="Précédent"-->
<!--                     nextLabel="Suivant" (pageChange)="p = $event"></pagination-controls>-->

