mat-accordion{
  margin:10px 20px;
  width: 30%;
}
.taches-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 30px;
}
:host ::ng-deep .ngx-pagination .current {
  padding: .1875rem .625rem;
  background: #880e4f;
}
pagination-controls {
  margin-top: 10px;
  text-align:right;
  margin-right:10px
}
:host ::ng-deep body{
  background:#c487a70a!important;
}
.Bienvenue{
  font-weight: 370;
  margin: 20px 20px 0px;
  font-size: 250%;
  background: #c487a745;
  padding: 20px;
  border-radius: 10px;
}
.dates{
  display: flex;
  justify-content: space-around;
  width:80%
}
.date-container{
  display: flex;
  flex-direction: column;
  margin: 10px
}
.date{
  width: 95%;
  text-align: center;
  background: #f5f2f2f0;
}
.date-titre{
  text-decoration: underline;
}
.pas-encore-valide{
  color:gray!important;
  font-size: smaller;
}
.invalide{
  color:darkred!important;
  font-size: smaller;
  cursor: pointer;
}
.invalide:hover {
  color: #dc0404 !important;
}
:host ::ng-deep .popover-header {
  color:darkred
}

:host ::ng-deep .ngx-slider .ngx-slider-pointer {
  cursor: pointer;
  width: 32px;
  height: 32px;
  top: -14px;
  background-color: #880e4f;
}
:host ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: #d8e0f3;
}
:host ::ng-deep .ngx-slider .ngx-slider-selection {
  background: #a2105e;
}


.changer-button:hover{
  color: #880e4f;
}
.changer-button{
  cursor: pointer;
}
.avancement-container{
  display:flex;
  justify-content: space-between;
  margin-left:80px;
}
.avancement{
  width: 15%;
}
.date-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
i{
  font-size: large;
  cursor:pointer
}
i:hover{
  color:#780e47;
}
.titreTaches{
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  font-size: xx-large;
}
