<div class=" container" *ngIf="projets$">
  <table class = "table">
    <tr>
      <th>Code</th>
      <th>Projet</th>
      <th>Description</th>
      <th>Date de fin cible</th>
      <th>Date de fin effective</th>
      <th>Pourcentage du progrès</th>
      <th>Budget initial</th>
      <th>Coût actuel</th>
      <th>Famille du projet</th>
    </tr>
    <tr *ngFor= "let p of projets$|async">
      <td>{{p.codeProjet}}</td>
      <td>{{p.titreProjet}}</td>
      <td>{{p.dateFinCible}}</td>
      <td>{{p.dateFinEffective}}</td>
      <td>{{p.dateFinEffective}}</td>
      <td>{{p.pourcentageProgres}}</td>
      <td>{{p.budget}}</td>
      <td>{{p.cout}}</td>
      <td>{{p.familleProjet.titreFamille}}</td>
    </tr>
  </table>
</div>
