<p-toast position="bottom-right"></p-toast>

<div id="table-employes-container">
<!--  <table *ngIf="chefsProjets" id="table-employes" datatable [dtOptions]="dtOptions" class="row-border hover">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Photo</th>-->
<!--      <th>Code</th>-->
<!--      <th>Nom</th>-->
<!--      <th>Prénom</th>-->
<!--      <th>Email</th>-->
<!--      <th>Numéro de téléphone</th>-->
<!--      <th>Emploi</th>-->
<!--      <th>Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let r of chefsProjets">-->
<!--      <td style="text-align: center" class="photo">-->
<!--        <img [src]="host+'/photo-user/'+r.codeRessource | authImage | async" class="picture-src" id="wizardPicturePreview" title="">-->
<!--      </td>-->
<!--      <td>{{r.codeRessource}}</td>-->
<!--      <td>{{r.nom}}</td>-->
<!--      <td>{{r.prenom}}</td>-->
<!--      <td>{{r.email}}</td>-->
<!--      <td>{{r.tel}}</td>-->
<!--      <td>{{r.emploi}}</td>-->
<!--      <td>-->

<!--&lt;!&ndash;        <span  mat-raised-button&ndash;&gt;-->
<!--&lt;!&ndash;               matTooltip="Détails" [routerLink]="'/ressources/details-ressource/'+r.codeRessource" ><i class="fa-solid fa-circle-info"></i></span>&ndash;&gt;-->
<!--        <span data-toggle="modal"  data-target="#modalProjets"  >-->
<!--          <span  mat-raised-button-->
<!--                 matTooltip="Projets">-->
<!--            <i (click)="loadModalChef(r)" class="fa-solid fa-laptop-file"></i></span>-->
<!--        </span>-->

<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->


  <p-table #dt1 [value]="chefsProjets" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
           [globalFilterFields]="['codeFamille','titreFamille','description']" [resizableColumns]="true" columnResizeMode="expand"
           currentPageReportTemplate=" {first} sur {last} de {totalRecords} ressources" [rowsPerPageOptions]="[5,10,15,20]"
           [exportHeader]="'customExportHeader'"
           styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="caption" style="display:flex;justify-content:space-between">
      <div class="flex" style="width: fit-content">
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
      </div>
      <div class="flex" style="width: fit-content">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Logo</th>
        <th pResizableColumn pSortableColumn="codeRessource">Code <p-sortIcon field="codeRessource"></p-sortIcon>
          <p-columnFilter type="text" field="codeRessource" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon>
          <p-columnFilter type="text" field="nom" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="prenom">Prénom <p-sortIcon field="prenom"></p-sortIcon>
          <p-columnFilter type="text" field="prenom" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
          <p-columnFilter type="text" field="email" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="tel">Téléphone <p-sortIcon field="tel"></p-sortIcon>
          <p-columnFilter type="text" field="tel" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="emploi">Emploi <p-sortIcon field="emploi"></p-sortIcon>
          <p-columnFilter type="text" field="emploi" display="menu"></p-columnFilter></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <tr>
        <td style="text-align: center" class="photo">
          <img [src]="host+'/photo-user/'+r.codeRessource | authImage | async" class="picture-src"  title="">
        </td>
        <td>{{r.codeRessource}}</td>
        <td>{{r.nom}}</td>
        <td>{{r.prenom}}</td>
        <td>{{r.email}}</td>
        <td>{{r.tel}}</td>
        <td>{{r.emploi}}</td>
        <td>
        <span data-toggle="modal"  data-target="#modalProjets"  >
          <span  mat-raised-button
                 matTooltip="Projets">
            <i (click)="loadModalChef(r)" class="fa-solid fa-laptop-file"></i></span>
        </span>
        </td>

      </tr>
    </ng-template>
  </p-table>

</div>




<!--Modal Delete RessourceModel -->
<div data-backdrop="false" class="modal" id="modalProjets" *ngIf="modalChef">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{modalChef.nom}} {{modalChef.prenom}} est chef des projets :</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngFor="let p of modalProjets" class="projetModalContainer" >
          <div class="projetModal">
          <span><img [src]="host+'/logoProjet/'+p.codeProjet | authImage | async" class="picture-src" title=""></span>
          <span style="margin-left: 10px">{{p.titreProjet}}</span>
          </div>
          <div>
            <span mat-raised-button matTooltip="Détails"  [routerLink]="'/projets/details-projet/'+p.codeProjet" ><i class="fa-solid fa-circle-info"></i></span>
          </div>
        </div>
        <div *ngIf="!modalProjets||modalProjets.length==0" style="text-align: center">
          --Aucun projet disponible--
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer form-group">
        <button type="button" class="btn btn-dark " data-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>


