
<div id="table-employes-container">
  <table *ngIf="chefsProjets" id="table-employes" datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
    <tr>
      <th>Code</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Numéro de téléphone</th>
      <th>Emploi</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of chefsProjets">
      <td>{{r.codeRessource}}</td>
      <td>{{r.nom}}</td>
      <td>{{r.prenom}}</td>
      <td>{{r.email}}</td>
      <td>{{r.tel}}</td>
      <td>{{r.emploi}}</td>
      <td>

        <span  data-toggle="tooltip" routerLink="/ressources/details-ressource" title="Détails"><i class="fa-solid fa-circle-info"></i></span>
        <span data-toggle="modal" data-target="#modalProjets"  >
          <span  data-toggle="tooltip" title="Projets"><i class="fa-solid fa-laptop-file"></i></span>
        </span>

      </td>
    </tr>
    </tbody>
  </table>
</div>




<!--Modal Delete RessourceModel -->
<div data-backdrop="false" class="modal" id="modalProjets">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">NOM Prénom est chef des projets :</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>projet1</p>
        <p>projet1</p>
        <p>projet1</p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer form-group">
        <button type="button" class="btn btn-dark " data-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>


