<div id="table-projets-container" >
  <table *ngIf="projets$" id="table-projets"  datatable [dtOptions]="dtOptions" class="row-border table-bordered hover">
    <thead>
    <tr>
      <th>Logo</th>
      <th>Code</th>
      <th>Titre</th>
      <th>Description</th>
      <th>Date début planifiées</th>
      <th>Date fin planifiées</th>
      <th>Date début prévue</th>
      <th>Date fin prévue</th>
      <th>Date début Réelle</th>
      <th>Date fin Réelle</th>
      <th>Priorité</th>
      <th>% Avancement</th>
      <th>Statut</th>
      <th>Coût Initial</th>
      <th>Coût Réel</th>
      <th>Chef de projet</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let p of projets$;let i=index; ">
      <td style="text-align: center">
        <img [src]="host+'/logoProjet/'+p.codeProjet | authImage | async" class="picture-src" id="wizardPicturePreview" title="">
      </td>
      <td>
        <input [disabled]="!edit[i]" type="text" [attr.value]="p.codeProjet" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="text" [attr.value]="p.titreProjet" class="form-control">
      </td>
      <td>
        <textarea [disabled]="!edit[i]"  type="text" rows="1" class="form-control" [attr.value]="p.description" >{{p.description}}</textarea>
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="Date" [attr.value]="datepipe.transform(p.dateDebutPlanifiee, 'yyyy-MM-dd')" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="Date" [attr.value]="datepipe.transform(p.dateFinPlanifiee, 'yyyy-MM-dd')" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]" type="Date" [attr.value]="datepipe.transform(p.dateDebutPrevue, 'yyyy-MM-dd')" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="Date" [attr.value]="datepipe.transform(p.dateFinPrevue, 'yyyy-MM-dd')" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="Date" [attr.value]="datepipe.transform(p.dateDebutReelle, 'yyyy-MM-dd')" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="Date" [attr.value]="datepipe.transform(p.dateFinReelle, 'yyyy-MM-dd')" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="text" [attr.value]="p.priorite" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="number" [attr.value]="p.avancement" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="text" [attr.value]="p.statut" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="text" [attr.value]="p.coutInitial" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="text" [attr.value]="p.coutReel" class="form-control">
      </td>
      <td>
        <input [disabled]="!edit[i]"  type="text" [attr.value]="p.chefProjet.nom+' '+p.chefProjet.prenom"  class="form-control">
      </td>
      <td>
          <span title="Modifier" (click)="edit[i]=true;">
            <i *ngIf="!edit[i]" data-toggle="tooltip" title="Modifier" class="fa-solid fa-file-pen"></i>
            <i *ngIf="edit[i]" data-toggle="tooltip" title="Enregistrer" class="fa-solid fa-check"></i>
            <i *ngIf="edit[i]" data-toggle="tooltip" title="Annuler" class="fa-solid fa-x"></i>
          </span>
        <span title="Modifier" data-toggle="tooltip" routerLink="/ressources/details-ressource" title="Détails"><i class="fa-solid fa-circle-info"></i></span>
        <span data-toggle="modal" data-target="#modalDelete"  >
          <span title="Modifier" data-toggle="tooltip" title="Supprmier"><i class="fa-solid fa-file-circle-xmark"></i></span>
        </span>
      </td>
    </tr>


    </tbody>
  </table>
</div>


<!--Modal Edit RessourceModel -->
<div data-backdrop="false" class="modal" id="modalEdit1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier la ressource </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group input-first-line">
          <input type="text" placeholder="Nom" class="form-control" id="nom"
                 name="nom">
        </div>
        <div class="form-group input-first-line">
          <input type="text" placeholder="Prénom" class="form-control" id="prenom"
                 name="prenom">
        </div>
        <div class="form-group input-first-line">
          <input type="text" placeholder="Email" class="form-control" id="email"
                 name="email">
        </div>
        <div class="form-group input-first-line">
          <input type="text" placeholder="Numéro de téléphone" class="form-control" id="tel"
                 name="tel">
        </div>
        <div class="form-group input-first-line">
          <input type="text" placeholder="Emploi" class="form-control" id="emploi"
                 name="emploi">
        </div>



        <!-- Modal footer -->
        <div class="modal-footer form-group">
          <button type="button" class="btn btn-dark form-control" data-dismiss="modal">Enregistrer</button>
        </div>

      </div>
    </div>
  </div>
</div>



<!--Modal Delete RessourceModel -->
<div data-backdrop="false" class="modal" id="modalDelete">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Etes-vous sûr de vouloir supprimer la ressource :</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Nom : NOMX</p>
        <p>Prénom : prénomX</p>
        <p>Emploi : emploiX</p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer form-group">
        <button type="button" class="btn btn-dark " data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-dark " data-dismiss="modal">Oui</button>
      </div>

    </div>
  </div>
</div>



