#notFound-body{
  background: linear-gradient(to bottom, #540831 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */
}
#notFound-text{
  color: white;
  font-size: xx-large;
  width: 40%;
}
#notFound-text p{
  text-align: center;
}
.titreNotFound{
  font-weight: bold;
}
