<app-navbar-top-projets *ngIf="authService.estGestionnairePortefeuille()||authService.estAdmin()"></app-navbar-top-projets>

<div >
  <!--barre de filtres-->
  <div id="filtre-sidebar" *ngIf="getUrl()=='/projets/liste-projets'||getUrl()=='/projets/liste-portefeuilles'||getUrl()=='/projets/statistiques'||getUrl()=='/projets/gantt'"
       [ngStyle]="{'z-index': (FilterHidden===true)?'2':'20'}" class="container-fluid d-flex flex-column h-100">
    <div id="content" class="d-flex flex-row sidebar-hidden">
      <div id="main" class="d-flex flex-column">

        <div id="middle" class="d-flex flex-row justify-content-end align-items-center">

          <div id="sidebar-control" mat-raised-button
               matTooltip="Filtrer" (click)="clickFiltre()">
            <i class="fas fa-2x"></i><span class="fa-solid fa-magnifying-glass-chart"></span>
          </div>
        </div>

      </div>
      <div id="sidebar"  class="d-flex flex-row">
        <div>
          <h4>Filtrer les projets</h4>

          <div>
            <h4 class="title-slider">Date de début - Date de fin</h4>
            <div class="dateRangeContainer"style=";width: 90%; margin-left: 0; margin-bottom: 10px;margin-top:5px">
              <input type="text" placeholder="Date de début - Date de fin (Planifiée)" ngxDaterangepickerMd  class="form-control"/>
            </div>
            <div class="dateRangeContainer"style=";width: 90%; margin-left: 0; margin-bottom: 10px;margin-top:5px">
              <input type="text" placeholder="Date de début - Date de fin (Prévue)" ngxDaterangepickerMd  class="form-control"/>
            </div>
            <div class="dateRangeContainer"style=";width: 90%; margin-left: 0; margin-bottom: 30px;margin-top:5px">
              <input type="text" placeholder="Date de début - Date de fin (Réelle)" ngxDaterangepickerMd  class="form-control"/>
            </div>
            <div class="my-dropdown-container">
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [placeholder]="'Portefeuilles'" >
              </ng-multiselect-dropdown>
            </div>
            <div class="my-dropdown-container">
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [placeholder]="'Intervenants'">
              </ng-multiselect-dropdown>
            </div>
            <div class="my-dropdown-container">
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [placeholder]="'Chefs de projet'">
              </ng-multiselect-dropdown>
            </div>
            <div class="my-dropdown-container">
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [placeholder]="'Statuts'">
              </ng-multiselect-dropdown>
            </div>
            <div class="my-dropdown-container">
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [placeholder]="'Risque'">
              </ng-multiselect-dropdown>
            </div>
            <div style="margin-top:30px!important;" class="my-slider-left"><h4 class="title-slider">Priorité</h4>
              <div class="slider-container">
                <ngx-slider [(value)]="priorite" [options]="optionsPriorite"></ngx-slider>
              </div>
            </div>
            <form>
              <div class="my-slider-left" >
                <div class="custom-control custom-checkbox slider-container" >
                  <input class="checkbox custom-checkbox"  id="retard" data-width="50" data-size="xs" type="checkbox" checked data-toggle="toggle" data-on=" " data-off=" " data-onstyle="secondary" data-offstyle="primary">
                  <label class="custom-control-label" style="font-size: 1.1em ;margin-left:0px" for="retard">En retard</label>
                </div>
              </div>
            </form>
<!--            <div class="my-slider-left"><h4 class="title-slider">Risque</h4>-->
<!--              <div class="slider-container">-->
<!--                <ngx-slider [(value)]="risque" [options]="options2"></ngx-slider>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
        <div>
          <div class="my-slider form-group"><h4 class="title-slider">Budget</h4>
            <div class="slider-container" >
              <div class="slider-container2">
                <span style="margin-bottom: 8px">Min:</span><input  class="form-control small-input" type="number" [(ngModel)]="minBudget">
              </div>
              <div class="slider-container2">
                <span >Max:</span><input  class="form-control small-input" type="number" [(ngModel)]="maxBudget">
              </div>
              <ngx-slider [(value)]="minBudget" [(highValue)]="maxBudget" [options]="options"></ngx-slider>
            </div>
          </div>

          <div class="my-slider form-group"><h4 class="title-slider">Coût</h4>
            <div class="slider-container">
              <div class="slider-container2">
                <span style="margin-bottom: 8px">Min: </span><input  class="form-control small-input" type="number" [(ngModel)]="minCout">
              </div>
              <div class="slider-container2">
                <span >Max: </span><input  class="form-control small-input" type="number" [(ngModel)]="maxCout">
              </div>
              <ngx-slider [(value)]="minCout" [(highValue)]="maxCout" [options]="options"></ngx-slider>
            </div>
          </div>
          <div class="my-slider form-group"><h4 class="title-slider">Durée</h4>
            <div class="slider-container" >
              <ngx-select-dropdown [instanceId]="'instance1'" (change)="selectionChangedTypeDuree($event)" [config]="configDropdownTypeDuree" [options]="dropdownOptionsTypeDuree"></ngx-select-dropdown>
              <ngx-duration-picker [(value)]="duree" [options]="{ showWeeks: false, showHours: false,
          showMinutes:false,showSeconds:false,previewFormat:'{{Y}} années, {{M}} mois, {{D}} jours' }"></ngx-duration-picker>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--fin barre de filtre-->

  <div style="width: 100%; display: flex">
    <div style="width: 5% ; z-index:-10" >
      <!--    !! div vide-->
    </div>
    <div style=" width: 90%;z-index: 10">
      <!--    contenu de la page-->
      <router-outlet></router-outlet>
    </div>
    <div style="width: 5% ; z-index:-10" >
      <!--    !! div vide-->
    </div>
  </div>
</div>
<!--<router-outlet  *ngIf="getUrl()=='/projets/nouveau-projet'||getUrl()=='/projets/nouveau-portefeuille'"></router-outlet>-->
