
<div id="table-employes-container">
  <p-table #dt1 [value]="ressources" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
           [globalFilterFields]="['codeFamille','titreFamille','description']" [resizableColumns]="true" columnResizeMode="expand"
           currentPageReportTemplate=" {first} sur {last} de {totalRecords} ressources" [rowsPerPageOptions]="[5,10,15,20]"
           [exportHeader]="'customExportHeader'"
           styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="caption" style="display:flex;justify-content:space-between">
      <div class="flex" style="width: fit-content">
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
      </div>
      <div class="flex" style="width: fit-content">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Logo</th>
        <th pResizableColumn pSortableColumn="codeRessource">Code <p-sortIcon field="codeRessource"></p-sortIcon>
          <p-columnFilter type="text" field="codeRessource" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon>
          <p-columnFilter type="text" field="nom" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="prenom">Prénom <p-sortIcon field="prenom"></p-sortIcon>
          <p-columnFilter type="text" field="prenom" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
          <p-columnFilter type="text" field="email" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="tel">Téléphone <p-sortIcon field="tel"></p-sortIcon>
          <p-columnFilter type="text" field="tel" display="menu"></p-columnFilter></th>
        <th pResizableColumn pSortableColumn="emploi">Emploi <p-sortIcon field="emploi"></p-sortIcon>
          <p-columnFilter type="text" field="emploi" display="menu"></p-columnFilter></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <tr>
        <td style="text-align: center" class="photo">
          <img [src]="host+'/photo-user/'+r.codeRessource | authImage | async" class="picture-src"  title="">
        </td>
        <td>{{r.codeRessource}}</td>
        <td>{{r.nom}}</td>
        <td>{{r.prenom}}</td>
        <td>{{r.email}}</td>
        <td>{{r.tel}}</td>
        <td>{{r.emploi}}</td>
        <td>
        <span data-toggle="modal" data-target="#modalEdit1"  >
          <span  mat-raised-button
                 matTooltip="Modifier"(click)="editRessource(r)" ><i class="fa-solid fa-user-pen"></i></span>
        </span>
          <span data-toggle="modal" data-target="#modalDelete"  >
          <span mat-raised-button
                matTooltip="Supprimer"(click)="confirmDeleteRessource(r)" ><i class="fa-solid fa-user-xmark"></i></span>
        </span>
          <span mat-raised-button *ngIf="estDeveloppeur(r)"
                matTooltip="Détails" [routerLink]="'/ressources/details-ressource/'+r.codeRessource" ><i class="fa-solid fa-circle-info"></i></span>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>

<!--Modal Edit RessourceModel -->
<div data-backdrop="false" class="modal" id="modalEdit1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier la ressource </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="form-portefeuille"  [formGroup]="ressourceFormGroup" *ngIf="ressourceFormGroup">
          <div hidden class="form-group">
            <input   type="text" placeholder="Code du portefeuille" class="form-control" id="code"
                     formControlName="codeRessource">
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Nom" class="form-control" id="nom"
                   formControlName="nom" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.nom.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.nom.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.nom.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Prénom" class="form-control" id="prenom"
                   formControlName="prenom" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.prenom.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.prenom.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.prenom.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Email" class="form-control" id="email"
                   formControlName="email" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.email.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.email.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.email.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Numéro de téléphone" class="form-control" id="tel"
                  formControlName="tel" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.tel.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.tel.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.tel.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Emploi" class="form-control" id="emploi"
                   formControlName="emploi" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.emploi.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.emploi.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.emploi.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <ngx-select-dropdown [multiple]="true" id="roles"  [(ngModel)]="rolesSelected" [ngModelOptions]="{standalone: true}" required
                                 (change)="selectionChangedRoles($event)" [config]="configDropdownRoles" [options]="dropdownOptionsRoles">
<!--                                 [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.roles.errors}">-->
            </ngx-select-dropdown>
<!--            <div *ngIf="submitted && ressourceFormGroup.controls.roles.errors" class=-->
<!--              "invalid-feedback">-->
<!--              <div *ngIf="ressourceFormGroup.controls.roles.errors.required">Ce champs est obligatoire</div>-->
<!--            </div>-->
          </div>
        </form>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer form-group">
        <button type="button" [disabled]="ressourceFormGroup?.invalid||noRoleSelected" class="btn btn-dark form-control" (click)="onSaveRessource()" data-dismiss="modal">Enregistrer</button>
      </div>

    </div>
  </div>
</div>


  <!--Modal Delete RessourceModel -->
  <div data-backdrop="false" class="modal" id="modalDelete">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Etes-vous sûr de vouloir supprimer la ressource ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <p><span class="delete-label">Code : </span>{{codeRessource}}</p>
          <p><span class="delete-label">Nom : </span>{{nom}}</p>
          <p><span class="delete-label">Prénom : </span>{{prenom}}</p>
          <p><span class="delete-label">Emploi : </span>{{emploi}}</p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer form-group">
          <button type="button" class="btn btn-dark " data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-dark " (click)="onDeleteRessource()" data-dismiss="modal">Oui</button>
        </div>

      </div>
    </div>
  </div>
