#table-employes-container{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#table-employes-container
 .fa-solid, .fas {
  font-weight: 900;
  font-size: large;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  color: #343a40;
}
#table-employes-container
.fa-solid:hover, .fas :hover{
  opacity: 0.75;
}



.modal-title{
  text-align: center;
  width: 100%;
}
.modal-content .form-group{
  margin-top: 5px;
}
.modal-body{
  background: #f6f6f6;
}
.delete-label{
  font-weight: bold;
}

.photo img{
  border: 2px #000000 solid;
  width: 40px;
  padding: 2px;
  border-radius: 10px;
}

:host ::ng-deep .p-datatable{
  width: 75vw;
}
:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-header {
  display:flex;
  justify-content: space-between;
}
