
<div id="table-employes-container">
  <table *ngIf="ressources" id="table-employes" datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
    <tr>
      <th>Photo</th>
      <th>Code</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Numéro de téléphone</th>
      <th>Emploi</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of ressources">
      <td style="text-align: center" class="photo">
        <img [src]="host+'/photo-user/'+r.codeRessource | authImage | async" class="picture-src" id="wizardPicturePreview" title="">
      </td>
      <td>{{r.codeRessource}}</td>
      <td>{{r.nom}}</td>
      <td>{{r.prenom}}</td>
      <td>{{r.email}}</td>
      <td>{{r.tel}}</td>
      <td>{{r.emploi}}</td>
      <td>
        <span data-toggle="modal" data-target="#modalEdit1"  >
          <span  mat-raised-button
                 matTooltip="Modifier"(click)="editRessource(r)" ><i class="fa-solid fa-user-pen"></i></span>
        </span>
        <span mat-raised-button
              matTooltip="Détails" routerLink="/ressources/details-ressource" ><i class="fa-solid fa-circle-info"></i></span>
        <span data-toggle="modal" data-target="#modalDelete"  >
          <span mat-raised-button
                matTooltip="Supprimer"(click)="confirmDeleteRessource(r)" ><i class="fa-solid fa-user-xmark"></i></span>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!--Modal Edit RessourceModel -->
<div data-backdrop="false" class="modal" id="modalEdit1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier la ressource </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="form-portefeuille"  [formGroup]="ressourceFormGroup" *ngIf="ressourceFormGroup">
          <div hidden class="form-group">
            <input   type="text" placeholder="Code du portefeuille" class="form-control" id="code"
                     formControlName="codeRessource">
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Nom" class="form-control" id="nom"
                   formControlName="nom" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.nom.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.nom.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.nom.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Prénom" class="form-control" id="prenom"
                   formControlName="prenom" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.prenom.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.prenom.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.prenom.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Email" class="form-control" id="email"
                   formControlName="email" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.email.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.email.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.email.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Numéro de téléphone" class="form-control" id="tel"
                  formControlName="tel" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.tel.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.tel.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.tel.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Emploi" class="form-control" id="emploi"
                   formControlName="emploi" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.emploi.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.emploi.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.emploi.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <ngx-select-dropdown [multiple]="true" id="roles"  [(ngModel)]="rolesSelected" [ngModelOptions]="{standalone: true}" required
                                 (change)="selectionChangedRoles($event)" [config]="configDropdownRoles" [options]="dropdownOptionsRoles">
<!--                                 [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.roles.errors}">-->
            </ngx-select-dropdown>
<!--            <div *ngIf="submitted && ressourceFormGroup.controls.roles.errors" class=-->
<!--              "invalid-feedback">-->
<!--              <div *ngIf="ressourceFormGroup.controls.roles.errors.required">Ce champs est obligatoire</div>-->
<!--            </div>-->
          </div>
        </form>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer form-group">
        <button type="button" [disabled]="ressourceFormGroup?.invalid||noRoleSelected" class="btn btn-dark form-control" (click)="onSaveRessource()" data-dismiss="modal">Enregistrer</button>
      </div>

    </div>
  </div>
</div>


  <!--Modal Delete RessourceModel -->
  <div data-backdrop="false" class="modal" id="modalDelete">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Etes-vous sûr de vouloir supprimer la ressource ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <p><span class="delete-label">Code : </span>{{codeRessource}}</p>
          <p><span class="delete-label">Nom : </span>{{nom}}</p>
          <p><span class="delete-label">Prénom : </span>{{prenom}}</p>
          <p><span class="delete-label">Emploi : </span>{{emploi}}</p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer form-group">
          <button type="button" class="btn btn-dark " data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-dark " (click)="onDeleteRessource()" data-dismiss="modal">Oui</button>
        </div>

      </div>
    </div>
  </div>
