<div id="detail-employe-container1">
  <div *ngIf="ressource" id="detail-employe-container2">

    <div class="card-info card bg-light text-dark" style="width: max-content;">
      <div class="card-body card-ressource">
        <div><img [src]="host+'/photo-user/'+codeRessource | authImage | async" class="picture" title="">
        </div>
        <div>
        <div><span>Email: </span>{{ressource.email}}</div>
        <div><span>Numéro de telephone : </span>{{ressource.tel}}</div>
        <div><span>Emploi : </span>{{ressource.emploi}}</div>
        </div>
      </div>
    </div>
    <h4 style="margin-top: 30px">Détails de la ressource : {{ressource.nom}} {{ressource.prenom}} <span data-toggle="modal" data-target="#modalEdit"  >
          <span title="Modifier" (click)="editRessource(ressource)" data-toggle="tooltip" title="Modifier"><i class="fa-solid fa-user-pen"></i></span>
        </span></h4>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-details">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#taches">Tâches</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" data-toggle="tab" href="#feuilleDeTemps">Feuille de temps</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active"  id="taches">
        <app-mes-taches ></app-mes-taches>
      </div>
      <div class="tab-pane container fade" style="padding: 0"  id="feuilleDeTemps">
        <app-mon-emploi></app-mon-emploi>
      </div>

    </div>
  </div>
</div>

<!--Modal Edit RessourceModel -->
<div data-backdrop="false" class="modal" id="modalEdit">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier la ressource </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="form-portefeuille"  [formGroup]="ressourceFormGroup" *ngIf="ressourceFormGroup">
          <div hidden class="form-group">
            <input   type="text" placeholder="Code du portefeuille" class="form-control" id="code"
                     formControlName="codeRessource">
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Nom" class="form-control" id="nom"
                   formControlName="nom" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.nom.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.nom.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.nom.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Prénom" class="form-control" id="prenom"
                   formControlName="prenom" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.prenom.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.prenom.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.prenom.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Email" class="form-control" id="email"
                   formControlName="email" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.email.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.email.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.email.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Numéro de téléphone" class="form-control" id="tel"
                   formControlName="tel" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.tel.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.tel.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.tel.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <input type="text" placeholder="Emploi" class="form-control" id="emploi"
                   formControlName="emploi" [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.emploi.errors}">
            <div *ngIf="submitted && ressourceFormGroup.controls.emploi.errors" class=
              "invalid-feedback">
              <div *ngIf="ressourceFormGroup.controls.emploi.errors.required">Ce champs est obligatoire</div>
            </div>
          </div>
          <div class="form-group input-first-line">
            <ngx-select-dropdown [multiple]="true" id="roles"  [(ngModel)]="rolesSelected" [ngModelOptions]="{standalone: true}" required
                                 (change)="selectionChangedRoles($event)" [config]="configDropdownRoles" [options]="dropdownOptionsRoles">
              <!--                                 [ngClass]="{'is-invalid': submitted && ressourceFormGroup.controls.roles.errors}">-->
            </ngx-select-dropdown>
            <!--            <div *ngIf="submitted && ressourceFormGroup.controls.roles.errors" class=-->
            <!--              "invalid-feedback">-->
            <!--              <div *ngIf="ressourceFormGroup.controls.roles.errors.required">Ce champs est obligatoire</div>-->
            <!--            </div>-->
          </div>
        </form>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer form-group">
        <button type="button" [disabled]="ressourceFormGroup?.invalid||noRoleSelected" class="btn btn-dark form-control" (click)="onSaveRessource()" data-dismiss="modal">Enregistrer</button>
      </div>

    </div>
  </div>
</div>
