<div class="col p-4">
<h2 class="bienvenu">Bienvenu Chifae</h2>
<div class="my-first-container">
  <div class="my-second-container">

    <div class="my-cards-container">


      <div class="card familles">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#home"><h5 style="color: #333333;">Portefeuilles</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="active=='PSIN'" (click)="clickFamille('PSIN')" data-toggle="tab" href="#home">PSIN</a>
            <a class="nav-link " *ngIf="active!='PSIN'"  (click)="clickFamille('PSIN')" data-toggle="tab" href="#home">PSIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="active=='PSIG'" (click)="clickFamille('PSIG')" data-toggle="tab" href="#menu1">PSIG</a>
            <a class="nav-link " *ngIf="active!='PSIG'"  (click)="clickFamille('PSIG')" data-toggle="tab" href="#menu1">PSIG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">INFR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">PCLN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">MAINT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">CONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">ATPR</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div *ngIf="active=='PSIN'" id="home" class="container tab-pane <!--active-->"><br>
            <h6>PROJETS SYSTEMES D'INFORMATION</h6>
            <p>Cette famille comprend tout projet ayant comme objectif la refonte des composants du SI  de l'ONEP, ainsi que les AMO accompagnant l'exécution de ces projets font parti également de cette famille </p>
          </div>
          <div *ngIf="active=='PSIG'" id="menu1" class="container tab-pane fade"><br>
            <h6>PROJETS SIG</h6>
            <p>Famille regrouppant tous les projets SIG.</p>
          </div>

        </div>
      </div>

      <div class="my-charts-container">
        <div class="card chart-card">
          <div class="my-card-header"><h5>Risques par projets</h5></div>
          <div class="card-body">
            <app-risques-par-projets-bar-chart></app-risques-par-projets-bar-chart>
          </div>
        </div>
        <div class="card chart-card">
          <div class="my-card-header"><h5>Etat global sur les statuts projets par portfolio</h5></div>
          <div class="card-body">
            <app-statuts-projets-radar-chart></app-statuts-projets-radar-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="small-cards-wrapper">
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-laptop-file"></i>
          <div class="card-header-text">
            <span class="name">Projets</span>
            <span class="value">26</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-users-line"></i>
          <div class="card-header-text">
            <span class="name">Employés</span>
            <span class="value">120</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-circle-exclamation"></i>
          <div class="card-header-text">
            <span class="name">Risques</span>
            <span class="value">15</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-calendar-xmark"></i>
          <div class="card-header-text">
            <span class="name">Retard</span>
            <span class="value">5</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-clipboard-check"></i>
          <div class="card-header-text">
            <span class="name">Complet</span>
            <span class="value">7</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="card table-card">
    <div class="my-card-header"><h5>Tous les projets</h5></div>
    <div class="card-body">
      <app-table-projets></app-table-projets>
    </div>
  </div>

</div>
</div>
