<div class="col p-4">
<h2 class="Bienvenue">Bienvenue {{prenom}}</h2>
<div class="my-first-container">
  <div class="my-second-container">

    <div class="my-cards-container">


      <div class="card familles">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link disabled" data-toggle="tab" href="#home"><h5 style="color: #333333;">Portefeuilles</h5></a>
          </li>
          <li class="nav-item" *ngFor="let portefeuille of portefeuilles">
            <a class="nav-link active" *ngIf="active==portefeuille.codeFamille" (click)="clickFamille(portefeuille.codeFamille)" data-toggle="tab" href="#home">{{portefeuille.codeFamille}}</a>
            <a class="nav-link " *ngIf="active!=portefeuille.codeFamille"  (click)="clickFamille(portefeuille.codeFamille)" data-toggle="tab" href="#home">{{portefeuille.codeFamille}}</a>
          </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div *ngFor="let portefeuille of portefeuilles">
          <div *ngIf="active==portefeuille.codeFamille" id="home" class="container tab-pane <!--active-->"><br>
            <h6>{{portefeuille.titreFamille}}</h6>
            <p>{{portefeuille.description}}</p>
          </div>
          </div>
        </div>
      </div>

      <div class="my-charts-container">
        <div class="card chart-card">
          <div class="my-card-header"><h5>Distribution des projets par niveau de risques</h5></div>
          <div class="card-body">
            <app-risques-par-projets-bar-chart *ngIf="projets&&portefeuilles" [projets]="projets" [portefeuilles]="portefeuilles"></app-risques-par-projets-bar-chart>
          </div>
        </div>
        <div class="card chart-card">
          <div class="my-card-header"><h5>Etat global sur les statuts projets par portfolio</h5></div>
          <div class="card-body">
            <app-statuts-projets-radar-chart *ngIf="statutParProtefeuilles" [statutParProtefeuilles]="statutParProtefeuilles"></app-statuts-projets-radar-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="small-cards-wrapper">
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-file"></i>
          <div class="card-header-text">
            <span class="name">Projets</span>
            <span class="value">{{projets.length}}</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-users-gear"></i>
          <div class="card-header-text">
            <span class="name">Ressources</span>
            <span class="value">{{nbRessources}}</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-circle-exclamation"></i>
          <div class="card-header-text">
            <span class="name">Risques</span>
            <span class="value">{{nbRiques}}</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-calendar-xmark"></i>
          <div class="card-header-text">
            <span class="name">Retards</span>
            <span class="value">{{nbRetard}}</span>
          </div>
        </div>
      </div>
      <div class="card small-card">
        <div class="my-card-header"><i class="icon fa-solid fa-clipboard-check"></i>
          <div class="card-header-text">
            <span class="name">Complets</span>
            <span class="value">{{nbComplets}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--  <div class="card table-card">-->
<!--    <div class="my-card-header"><h5>Tous les projets</h5></div>-->
<!--    <div class="card-body">-->
<!--      <app-table-projets></app-table-projets>-->
<!--    </div>-->
<!--  </div>-->

</div>
</div>
