@import "~font-awesome/css/font-awesome.min.css";
@import "~jsgantt-improved/dist/jsgantt.css";
@import "~ngx-smart-modal/ngx-smart-modal.css";
html, body { height: 100%; }

:host ::ng-deep #table-employes-container .btn:not(:disabled):not(.disabled),
:host ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current
{
  cursor: pointer;
  background: #f8f8f8de!important;
  border-color: #8080803b!important;
}
:host ::ng-deep #table-employes-container .btn:not(:disabled):not(.disabled):hover{
  background: #e1e1e1de!important;

}
:host ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
:host ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current :hover{
  background: #e1e1e1de;
}
:host ::ng-deep .dataTables_wrapper .dataTables_filter input
{
  border: 1px solid #aaaaaa73;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-left: 3px;
}
:host ::ng-deep table.dataTable thead th, table.dataTable tfoot th {
  font-weight: 500;
  background: #e2e2e263;
  color: black;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 .mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
   font-size: 1rem!important;
   font-weight: 400!important;
   line-height: 1.5!important;
}
.h4, h4 {
  font-size: 1.5rem!important;
}
.h5, h5 {
  font-size: 1.25rem!important;
}

.titre-group-inputs{
  border-bottom: 1px solid #880e4f;
  font-weight: 350;
  color: #880e4f;
  margin-bottom: 15px;
}



a:hover {
  text-decoration: none;
}

header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}
